@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.markdown-content h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.markdown-content h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

.markdown-content h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

.markdown-content h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

.markdown-content h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

.markdown-content h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

.markdown-content p {
    margin: 1em 0;
}

.markdown-content blockquote {
    margin: 1em 40px;
}

.markdown-content ul, .markdown-content ol {
    padding-left: 40px;
}

.markdown-content code {
    font-family: monospace;
    background-color: #f9f9f9;
    padding: 2px 4px;
    border-radius: 4px;
}

.markdown-content pre {
    font-family: monospace;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
}

.markdown-content img {
    max-width: 100%;
}
